body{
    font-family: sans-serif;
    margin:0; 
    padding:0;
}

.header{
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
    width: auto;
    min-height: 50px;
}

.mlink{
    margin: 0px 30px 0px -15px;
    font-size: 14px;
}

a:link{
    color: #000000de;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.container{
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
}

#logo{
   padding-bottom: 20px;
}

input[type=text] {
    height: 44px;
    width: 100%;
    max-width: 584px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    padding: 0px 20px;
    font-size: 16px;
    outline: none;
}

input[type=text]:focus {
    outline: none;
    border: 1px solid #ffffff;
    box-shadow: 0 0 5px #cccccc;
}

input[type=text]:hover {
    outline: none;
    border: 1px solid #ffffff;
    box-shadow: 0 0 5px #cccccc;
}

input[type=submit] {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    height: 36px;
    color: #000000;
    padding: 0px 20px;
    text-decoration: none;
    margin: 30px 4px;
    min-width: 54px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
  }

  #button:hover
{
    border: 1px solid #cccccc;
    border-radius: 4px;
}